<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<table id="categories">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Posição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.position %></td>
        <td>
          <%= link_to "Detalhes", admin_category_path(category) %>
          <%= link_to "Editar", edit_admin_category_path(category) %>
          <%= button_to "Excluir", admin_category_path(category), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New category", new_admin_category_path %>
