<div id="<%= dom_id product %>">
  <p>
    <strong>Nome:</strong>
    <%= product.name %>
  </p>
  <p>
    <strong>Imagem:</strong>
    <%= image_tag product.image.variant(:big_thumb) %>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%= product.description %>
  </p>
  <p>
    <strong>Preço:</strong>
    <%= product.price %>
  </p>
  <p>
    <strong>Ativo:</strong>
    <%= product.publish %>
  </p>
</div>
